In [1]:
# CELL1 – 1 mark


################################################################################################################################
#  libraries needed for the coursework
%pylab inline
import pandas as pd
from pandas import Series, DataFrame
from scipy import stats
################################################################################################################################
hdf = pd.read_table('2017Health.txt', index_col=['County'])
hdf

Populating the interactive namespace from numpy and matplotlib

,State,Years of Potential Life Lost Rate,Teen Birth Rate,Violent Crime Rate,Percentage Smokers
County,,,,,
Alachua,Florida,6633,19,579,16
Baker,Florida,8270,58,360,19
Bay,Florida,9168,50,508,18
Bradford,Florida,10346,61,461,18
Brevard,Florida,7722,25,518,16
...,...,...,...,...,...
Taylor,Florida,7875,64,743,18
Volusia,Florida,8295,32,426,16
Wakulla,Florida,7548,31,272,17
Walton,Florida,7962,45,374,17
Washington,Florida,8390,54,236,19

In [2]:
# CELL2 – 5 marks

In [3]:
# CELL3 – 6 marks

In [4]:
# CELL4 – 2 marks

In [5]:
# CELL5 – 6 marks