In [4]:
# CELL1 – 1 mark


################################################################################################################################
#  libraries needed for the coursework
%pylab inline
import pandas as pd
from pandas import Series, DataFrame
from scipy import stats
################################################################################################################################
hdf = pd.read_table('2017Health.txt', index_col=['County'])
hdf = hdf[['Years of Potential Life Lost Rate', 'Teen Birth Rate', 'Violent Crime Rate', 'Percentage Smokers']]
hdf

Populating the interactive namespace from numpy and matplotlib

,Years of Potential Life Lost Rate,Teen Birth Rate,Violent Crime Rate,Percentage Smokers
County,,,,
Alachua,6633,19,579,16
Baker,8270,58,360,19
Bay,9168,50,508,18
Bradford,10346,61,461,18
Brevard,7722,25,518,16
...,...,...,...,...
Taylor,7875,64,743,18
Volusia,8295,32,426,16
Wakulla,7548,31,272,17
Walton,7962,45,374,17
Washington,8390,54,236,19

In [9]:
# CELL2 – 5 marks
PS = hdf['Percentage Smokers']
PS_mean = mean(PS)
PS_error = 1.96*std(PS)/sqrt(len(PS))

#print('Mean of smokers =', mean())
#print('Minimum of percentage smokers =', min())
#print('Maximum of percentage smokers =', max())
#print('Standard deviation of percentage smokers =', std())
print('95% confidence interval of percentage smokers =' [round(PS_mean - PS_error), round(PS_mean + PS_error)])

TypeError: string indices must be integers

In [3]:
# CELL3 – 6 marks

In [4]:
# CELL4 – 2 marks

In [5]:
# CELL5 – 6 marks